<div class="footer-pagination">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-end">
      <div class="col-md-6"></div>
        <div class="d-flex align-items-center col-md-6" style="margin-left: 15px;">
          <label for="pageSizeSelect">Page Size:</label>
          <select id="pageSizeSelect" #myPageSelect (change)="updatePageSize(myPageSelect.value)" >
            <option [value]="5" >5</option>
            <option [value]="10" selected="true">10</option>
            <option [value]="20">20</option>
            <option [value]="50">50</option>
          </select>
        </div>
      <div class="col-md-4 d-flex align-items-left justify-content-end">
        <ngb-pagination
          [(page)]="thePageNumber"
          [pageSize]="thePageSize"
          [collectionSize]="theTotalElements"
          [maxSize]="5"
          (pageChange)="handleListProducts()"
          class="my-pagination"></ngb-pagination>

      </div>
    </div>
  </div>
</div>

<mat-grid-list cols="3" rowHeight="1:1">
    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
      No Products Found.
    </div>


  <mat-grid-tile *ngFor="let item of products">
    <mat-card>
      <a routerLink="/products/{{item.id}}">
        <img mat-card-image src="https://via.placeholder.com/300">
      </a>
      <mat-card-header>
        <mat-card-title>
          <a class="link" routerLink="/products/{{item.id}}">{{ item.name | truncate:20 }}</a>
          </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <p>Unit Price: {{ item.unitPrice | currency: 'USD' }}</p>
        <button (click)="addToCart(item)" mat-raised-button color="primary">Add to Cart</button>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="footer-pagination">
    <div class="row align-items-center justify-content-end">
      <div class="col-md-9 d-flex justify-content-end align-items-center">
        <ngb-pagination
          [(page)]="thePageNumber"
          [pageSize]="thePageSize"
          [collectionSize]="theTotalElements"
          [maxSize]="10"
          (pageChange)="handleListProducts()"
          class="my-pagination"></ngb-pagination>
      </div>
    </div>
</div>

