@use '../node_modules/@angular/material/index' as mat;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light
  ))
);
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark
  )
));


mat-sidenav{
  @include mat.all-component-colors($dark-theme)
}
mat-nav-list{
  @include mat.all-component-colors($dark-theme)
}

