.custom-select-box {
  background-color: #f8f9fa;
  border-color: #6c757d;
  color: #495057;
  padding: 10px;
  font-size: 16px;
}
.custom-select-box:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
