<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav autosize"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <!-- Toolbar with branding or logo -->
    <button mat-raised-button color="primary" class="home-button">
      <mat-icon>home</mat-icon> Home
    </button>

    <!-- Navigation list with categories -->
    <mat-nav-list class="sidenav-nav-list">
      <mat-accordion class="sidenav-accordion">
        <mat-expansion-panel class="sidenav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categories
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <app-product-category-menu></app-product-category-menu>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="(isHandset$ | async)" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container-fluid">
        <div class="row align-items-center d-flex justify-content-start">
          <div class="col-md-5 d-flex align-items-center">
            <img src="http://localhost:8081/book.webp" alt="Logo" height="50" />
            <span class="app-title roboto-condensed-font-style ml-3">Michi Design Thrift Books And More</span>
          </div>
          <div class="col-md-4 justify-content-start">
              <app-search-bar></app-search-bar>
          </div>
          <div class="col-md-2 d-flex justify-content-end">
            <app-login-status></app-login-status>
            <app-cart-status></app-cart-status>
          </div>

        </div>
      </div>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
